<div class="container w-50 mt-5">
  <h1>form pour ajout action</h1>

  <%= simple_form_for([@property, @work_action]) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :date %>
    <%= f.association :action_category %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
