<%= render "shared/fab" %>
<nav
  id="bottom-bar"
  class="fixed bottom-0 bg-white border-t"
  data-navigation-target="bottomNav"
>
  <ul class="flex justify-around list-none m-0 p-1">
    <li class="relative" data-controller="dropdown">
      <div
        class="no-underline text-black flex flex-col items-center"
        data-action="click->dropdown#toggle"
      >
        <%= image_tag 'hangar.png', width: 20, height: 20 %>
        <span class="text-sm">Chantier</span>
      </div>

      <div
        data-dropdown-target="menu"
        class="absolute bottom-full left-0 w-full bg-white border shadow-sm"
        style="display: none;"
      >
        <ul class="list-none m-0 p-0">
          <%=
            link_to 'Calendrier',
                    calendar_path(property: @property),
                    class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
          %>
          <%=
            link_to 'Documents',
                    documents_path(property: @property, documents: @documents),
                    class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
          %>
        </ul>
      </div>
    </li>

    <li class="relative" data-controller="dropdown">
      <div
        class="no-underline text-black flex flex-col items-center"
        data-action="click->dropdown#toggle"
      >
        <%= image_tag 'paint.png', width: 20, height: 20 %>
        <span class="text-sm">Travaux</span>
      </div>

      <div
        data-dropdown-target="menu"
        class="absolute bottom-full left-0 w-full bg-white border shadow-sm"
        style="display: none;"
      >
        <ul class="list-none m-0 p-0">
          <%=
            link_to 'TO DO',
                    lists_path(property: @property),
                    class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
          %>
          <%=
            link_to 'Action',
                    actions_path(property: @property),
                    class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
          %>
        </ul>
      </div>
    </li>

    <li class="relative" data-controller="dropdown">
      <div
        class="no-underline text-black flex flex-col items-center"
      >
        <%= link_to contacts_path(property: @property), class: "text-sm text-center flex flex-col items-center" do %>
          <%= image_tag 'contact.png', width: 20, height: 20, class: 'mx-auto' %>
          <span>Contacts</span>
        <% end %>
      </div>
    </li>

    <li class="relative" data-controller="dropdown">
      <div
        class="no-underline text-black flex flex-col items-center"
        data-action="click->dropdown#toggle"
        data-navigation-target="settingsButton"
      >
        <%= image_tag 'setting.png', width: 20, height: 20 %>
        <span class="text-sm">Paramètres</span>
      </div>

      <div
        data-dropdown-target="menu"
        data-navigation-target="settingsMenu"
        class="absolute bottom-full left-0 w-full bg-white border shadow-sm"
        style="display: none;"
      >
        <ul class="list-none m-0 p-0">
          <%=
            link_to 'Log out',
                    destroy_company_session_path,
                    data: {
                      turbo_method: :delete,
                    },
                    class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
          %>
          <%= link_to 'Ajouter un bien', new_property_path, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
        </ul>
      </div>
    </li>
  </ul>
</nav>
