<div class="container">

  <h1>Toutes les entreprises</h1>
  <p>mettre un btn pour switcher sur une map full screen? + info_window etc?</p>
  <p>rajouter les filtres par catégories</p>


  <%= form_with url: companies_path, method: :get, class: "w-25 d-flex" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Type a keyword"
      %>
    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>


    <% @companies.each do |company| %>
      <div class="my-3 w-50" style="position:relative;">
      <%= render 'companies/card_company', company: company %>
      <div class="fav-index">
        <% if company.favorites.exists?(Favorite.where(property: current_user.properties.last)) %>
          <% favorite = Favorite.where(property: current_user.properties.last).where(company: company).first %>
          <%= link_to raw("<i class='fa-solid fa-star'></i>"), favorite_path(favorite), data: {turbo_method: :delete} %>
        <% else %>
          <%= link_to raw("<i class='fa-regular fa-star'></i>"), company_favorites_path(company), data: {turbo_method: :post} %>
        <% end %>
      </div>
    </div>
    <% end %>
</div>
