
<h1><%= @company.name %></h1>

<p><%= @company.email %></p>
<p><%= @company.address %></p>


<a href="#">Contacter cette entreprise</a>
<a href="#">Mettre en favoris?</a>

<p>Mettre une map</p>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-marker-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


<p>faire de cette modal une show?</p>
