<h1>Actions</h1>
<%= @property.name %>
<%= link_to "ajouter une action", new_property_work_action_path(@property) %>


<%# a voir en fonction de cb de temps ont pris les travaux %>
<ul class="list-inline tabs-underlined mt-5">
  <li>
    <a href="#" class="tab-underlined active">Tout</a>
  </li>
  <li>
    <a href="#" class="tab-underlined"><%= @property.work_actions.last.created_at.year %></a>
  </li>
  <li>
    <a href="#" class="tab-underlined"><%= @property.work_actions.last.created_at.year - 1 %></a>
    <a href="#" class="tab-underlined"><%= @property.work_actions.last.created_at.year - 2 %></a>
  </li>
</ul>

<% @property.work_actions.each do |action| %>

  <div class="card-action">
    <% if action.photos.attached? %>
      <% action.photos.each do |photo| %>
        <%= cl_image_tag photo.key %>
      <% end %>

      <%# changer plus tard si plusieurs photos -> carousel %>
      <%#= cl_image_tag action.photos.first.key %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <% end %>
    <div class="card-action-infos">
      <h2><%= action.name %></h2>
      <p><%= action.description %></p>
      <% if action.actionable.is_a?(Company) %>
      <%# transformer le nom de l'entreprise en linkto %>
        <p>réalisé par: <%= link_to action.actionable.name, company_path(action.actionable) %>, le: <%= action.date %> </p>
      <% else %>
        <p>réalisé par vous même, le: <%= action.date %> </p>
      <% end %>
    </div>
  </div>
<% end %>
