<h1>Actions</h1>
<div class="d-flex justify-content-between align-items-center me-5">
  <%= @property.name %>
  <%= link_to "ajouter une action", new_property_work_action_path(@property), class: "btn-dashboard" %>
</div>

<%# a voir en fonction de cb de temps ont pris les travaux %>
<ul class="list-inline tabs-underlined mt-5">
  <li>
    <a href="#" class="tab-underlined active">Tout</a>
  </li>
  <li>
  <%# changer par des dates de travaux %>
    <a href="#" class="tab-underlined">2024</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">2023</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">2022</a>
  </li>
</ul>



<% if @property.work_actions.any? %>
  <% @property.work_actions.order(created_at: :desc).each do |action| %>

    <div class="card-action">
      <% if action.photos.attached? %>
        <%# changer plus tard si plusieurs photos -> carousel %>
        <%= cl_image_tag action.photos.first.key %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <% end %>
      <div class="card-action-infos">
        <h2><%= action.name %></h2>
        <p><%= action.description %></p>
        <% if action.actionable.is_a?(Company) %>
          <p>réalisé par: <%= link_to action.actionable.name, company_path(action.actionable) %>, le: <%= action.date %> </p>
        <% else %>
          <p>réalisé par vous même, le: <%= action.date %> </p>
        <% end %>
      </div>
    </div>
  <% end %>

<% else %>
  <p>Pas encore eu de travaux chez vous</p>
<% end %>
