<h1>Documents</h1>
<div class="d-flex justify-content-between align-items-center me-5">
  <%= @property.name %>
  <%= link_to "add document", new_property_document_path(@property), class: "btn-dashboard" %>
</div>
<%# a voir en fonction de cb de temps ont pris les travaux %>
<ul class="list-inline tabs-underlined mt-5">
  <li>
    <a href="#" class="tab-underlined active">Tout</a>
  </li>
  <li>
  <%# changer par des dates de travaux %>
    <a href="#" class="tab-underlined">2024</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">2023</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">2022</a>
  </li>
</ul>



<%# rendre cliquable le document (photo) et l'afficher dans une modale %>
<%# permettre le téléchargement de ce document %>

<% if @property.documents.any? %>

  <% @property.documents.each do |doc| %>
    <div class="card-document">
      <% if doc.photo.attached? %>
        <%= cl_image_tag doc.photo.key %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <% end %>
      <div class="card-document-infos">
        <h2><%= doc.name %></h2>
        <p><%= doc.description %></p>
        <p><%= doc.date %></p>
        <p><%= doc.document_category.name %></p>
        <%= link_to rails_blob_url(doc.photo, disposition: "attachment"), target: "_blank" do %>
          <i class="fa-solid fa-download"></i>
        <% end %>

      </div>
    </div>
  <% end %>
  <% else %>
    <p>Pas encore de documents pour votre propriété</p>
  <% end %>
