<h1>Documents</h1>
<%= @property.name %>

<%= link_to "add document", new_property_document_path(@property) %>
<% @property.documents.each do |doc| %>
  <div class="card-document">
    <% if doc.photo.attached? %>
      <%= cl_image_tag doc.photo.key %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <% end %>
    <div class="card-document-infos">
      <h2><%= doc.name %></h2>
      <p><%= doc.description %></p>
      <p><%= doc.date %></p>
      <p><%= doc.document_category.name %></p>
    </div>
  </div>
<% end %>
