<h1>Documents</h1>
<%= @property.name %>




    <h2>DOCUMENTS</h2>

    <%= link_to "add document", new_property_document_path(@property) %>
    <% @property.documents.each do |doc| %>
      <div style="border: solid black 2px">
        <p><%= doc.name %></p>
        <p><%= doc.description %></p>
        <p><%= doc.date %></p>
        <p><%= doc.document_category.name %></p>
        <%# ajouter photo %>
        <%= cl_image_tag doc.photo.key, height: 150 if doc.photo.attached? %>
      </div>
    <% end %>
