<h1>Calendrier</h1>
<%= @property.name %>
<%#= image_tag "calendar_template.png" %>

<div class="calendar-lg">
  <%= month_calendar(events: @items, attribute: :deadline) do |date| %>
    <%= date.day %>
    <% @items.select { |item| item.deadline.to_date == date }.each do |item| %>
      <div class="event bg-success bg-gradient">
        <%= item.title %>
        <%= link_to raw("<i class='fa-solid fa-xmark'></i>"), list_item_path(item), data: {turbo_method: :delete, turbo_confirm: "Sur?"}, class:"text-dark link_to" %>
      </div>
    <% end %>
    <% @appointments.select { |appointment| appointment.date == date }.each do |appointment| %>
      <div class="event bg-warning bg-gradient">
        <%= link_to appointment.company.name, company_path(appointment.company, property: @property), class:"text-dark link_to" %>
        <%= link_to raw("<i class='fa-solid fa-xmark'></i>"), appointment_path(appointment), data: {turbo_method: :delete, turbo_confirm: "Sur?"}, class:"text-dark link_to" %>
      </div>
    <% end %>
    <% @actions.select { |action| action.date == date }.each do |action| %>
      <div class="event bg-primary bg-gradient">
        <%= action.description %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="calendar-sm">
  <%# A faire eventuellement plus tard pour le responsive %>
</div>

<%= link_to 'ajouter une tache', new_property_list_item_path(@property) %>
<%= link_to 'ajouter un RDV', new_property_appointment_path(@property) %>
