<div class="dashboard-header">
  <div class="header-infos">
    <h1><%= @property.name %></h1>
    <p><%= @property.property_category.name %></p>

  </div>
  <% if @property.user.has_many_properties? %>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Changer de propriété
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <% current_user.properties.each do |property| %>
          <%= link_to property.name, dashboard_path(property: property), class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  <% end %>




</div>

<%# =============== RECAPITULATIF =============== %>
<div class="dashboard-card dashboard-recap">
    <div class="recap-infos-main">

      <div class="d-flex align-items-start">
        <h2 class="me-4">Récapitulatif</h2>
        <%= link_to raw("<i class='fa-solid fa-pen'></i>"), edit_property_path(@property), class:"btn-update-property" %>
      </div>

      <div class="recap-infos">
        <p><i class="fa-solid fa-location-dot"></i> <%= @property.address %></p>
        <p><strong>Prix d'achat: </strong> <%= @property.buying_price %> €</p>
        <p><strong>Date d'achat: </strong><%= @property.buying_date.strftime('%d %b %Y')%></p>
        <p><strong>Surface: </strong><%= @property.surface %>m²</p>
        <p><strong>Nombre de pièces: </strong><%= @property.number_of_rooms %></p>
        <a class="btn-comparer" target="_blank" href="https://www.immobilier.notaires.fr/fr/prix-immobilier?typeLocalisation=DEPARTEMENT&codeInsee=59&neuf=A"><i class="fa-solid fa-arrow-right"></i> Comparer avec son quartier</a>
      </div>
    </div>

    <div
      class="recap-map"
      data-controller="map"
      data-map-marker-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    >
  </div>
</div>

<%# =============== ENTREPRISES FAV =============== %>




<div class="dashboard-card">
  <h2>Mes entreprises favories</h2>
  <div class="m-5">
    <div class="cards-companies">
      <% if @property.companies.empty? %>
        <p>Pas encore de favoris</p>
      <% end %>

      <% @property.companies.each do |company| %>
        <%= render 'companies/card_company', company: company %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <%=
      link_to 'Voir toutes les entreprises',
              companies_path(property: @property),
              class: 'link_to btn-dashboard btn-contacts'
    %>
  </div>
</div>

<%# =============== PROCHAINES ACTIONS =============== %>

<div class="dashboard-card next-actions">
  <div>
    <h2>Mes prochaines actions</h2>
    <div class="m-5">
      <% @property.list_items.select { |item| item.deadline.to_date >= Date.today }.sort_by(&:deadline).first(3).each do |item| %>
        <p><%= item.title %>, avant le <%= item.deadline %></p>
      <% end %>
        <%= link_to "Calendrier", calendar_path(property: @property), class: "btn-dashboard" %>
        <a class="btn-dashboard" href="#">Voir tout</a>
        <%#= link_to "Voir tout", lists_path, class: "btn-dashboard" %>
    </div>
  </div>
  <div>
    <h2>Mes prochains RDV</h2>
    <div class="m-5">
      <% @property.appointments.select { |appt| appt.date >= Date.today }.sort_by(&:date).first(3).each do |appt| %>
        <p><%= appt.company.name %>, le <%= appt.date %></p>
      <% end %>
        <a class="btn-dashboard" href="#">Calendrier</a>
    </div>

  </div>
</div>


<%# =============== DEPENSES =============== %>

<div class="dashboard-card" style="height:400px">
  <h2>Mes Dépenses</h2>
  <div class="m-5">
    <p>Faire cette rubrique dans la sidebar?</p>
    <p>Prix d'achat: <%= @property.buying_price %></p>
    <p>Frais de Notaire: 10000</p>
    <p>Travaux: 10000</p>
    <p>Matériel: 1000</p>
    <p>Total: 250000</p>
  </div>
</div>
