<div class="dashboard-container">
  <div class="sidebar">
    <ul class="nav-list">
      <li><%= link_to "Home", dashboard_path  %></li>
      <li><%= link_to "Calendrier", dashboard_calendar_path(property: @property)   %></li>
      <li><%= link_to "Documents", dashboard_documents_path(property: @property)  %></li>
      <li><%= link_to "Actions", dashboard_actions_path(property: @property)  %></li>
      <li><%= link_to "Contacts", dashboard_contacts_path(property: @property)  %></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>

  <div class="main-content">
    <%= render here %>
  </div>
</div>
