<div class="dashboard-container">
  <div class="sidebar">
    <ul class="nav-list">
    <%  %>
    <%=  %>
      <li class=<%= params[:action] == "dashboard" ? "tab-active" : "" %>><%= link_to "Home", dashboard_path %></li>
      <li class=<%= params[:action] == "calendar" ? "tab-active" : "" %>><%= link_to "Calendrier", dashboard_calendar_path(property: @property)   %></li>
      <li class=<%= params[:action] == "documents" ? "tab-active" : "" %>><%= link_to "Documents", dashboard_documents_path(property: @property)  %></li>
      <li class=<%= params[:action] == "actions" ? "tab-active" : "" %>><%= link_to "Actions", dashboard_actions_path(property: @property)  %></li>
      <li class=<%= params[:action] == "contacts" ? "tab-active" : "" %>><%= link_to "Contacts", dashboard_contacts_path(property: @property)  %></li>
      <li class=<%= params[:action] == "lists" ? "tab-active" : "" %>><%= link_to "TODO listes", dashboard_lists_path(property: @property)  %></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>

  <div class="main-content">
    <%= render here %>
  </div>
</div>
