<!DOCTYPE html>
<html>
  <head>
    <title>GoYourHomeWay</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%=
      stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload'
    %>

    <%# <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/flashes' %>

    <div class="min-height-footer">
      <div data-controller="navigation">
        <%= render 'shared/navbar', data: { navigation_target: 'navbar' } %>
        <%=
          render 'shared/bottom_nav', data: { navigation_target: 'bottomNav' }
        %>
      </div>
      <div class="fix-footer">
        <%# <%= render 'shared/navbar' %>
        <%= yield %>
      </div>
      <%# <%= render 'shared/footer' %>
      <%# render 'shared/bottom_nav %>
    </div>
  </body>
</html>
